<!-- Firewall: ON -->
<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="shortcut icon" href="Checked%20by%20CoinCard_files/Hacker-icon.png">
<title>Checked by CoinCard</title>

<style type="text/css">
<!--
body {
  color: #0F0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
  background-image: url(http://www.intrawallpaper.com/static/images/backgrounds-background-hd-wallpaper-02-download-widescreen-high-resolution-wallpaper.jpg);
  background-repeat: repeat;
  background-position: left top;
  background-attachment: fixed;
  padding: 10px;
  cursor: default;
}
#wrapper {
  width: 960px;
  margin: auto;
}
#header {
  float: left;
  width: 960px;
  height: auto;
  text-align:center;
  margin-bottom:10px;
}
#header img {
  border-radius:5px;
}
#slogan {
  text-align: center;
  float: left;
  width: 960px;
  margin-bottom: 10px;
}
#message {
  text-align: center;
  float: left;
  width: 960px;
  margin-bottom: 10px;
}
#message textarea {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight:normal;
  color: #0F0;
  text-decoration: none;
  background:none;
  border: 1px dashed #0F0;
  border-radius:5px;
  cursor: crosshair;
  padding:5px;
  overflow: auto;
}
#message textarea:hover {
  border: 1px dashed #F00;
}
#footer {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  float: left;
  width: 960px;
  margin-bottom: 10px;
}
-->
</style>

<script src="Checked%20by%20CoinCard_files/jquery.js" type="text/javascript"></script>
<script language="javascript" type="text/javascript">
  function killerrors(){return true;}window.onerror = killerrors;
</script>

<script type="text/javascript">
// Title Effect: NONE
</script>

<!-- On Page Effect: NONE -->

<!-- Mouse Effect: NONE -->

<script src="Checked%20by%20CoinCard_files/disable_mouse.js" type="text/javascript"></script>
</head>

<body onkeydown="return false;" onload="type_text();">

<script type="text/javascript" src="Checked%20by%20CoinCard_files/firewall.js"></script>

<div id="wrapper">
  <div id="header">
    <img src="Checked%20by%20CoinCard_files/Hacker-icon.png" alt="CoinCard" longdesc="http://spv.blogspot.com/">
  </div>

  <div id="slogan">
    <!-- Slogan-->
    <h1><span id="bgtt"><font color="#1A0000">C</font><font color="#000000">r</font><font color="#190000">e</font><font color="#330000">a</font><font color="#4C0000">t</font><font color="#660000">e</font><font color="#7F0000">d</font><font color="#990000"> </font><font color="#B20000">b</font><font color="#CC0000">y</font><font color="#E50000"> </font><font color="#FF0000">B</font><font color="#E60000">l</font><font color="#CC0000">u</font><font color="#B30000">e</font><font color="#990000">S</font><font color="#800000">k</font><font color="#660000">y</font><font color="#4D0000">9</font><font color="#330000">6</font></span></h1>
    <script type="text/javascript">
    // JavaScript Document
    bgmess= "Created by BlueSky96";
    bgttcolor1 = "000000";
    bgttcolor2 = "FF0000";
    bgsp = 40;
    color_mesk = new Array();
    color_mesk[10] = "A";
    color_mesk[11] = "B";
    color_mesk[12] = "C";
    color_mesk[13] = "D";
    color_mesk[14] = "E";
    color_mesk[15] = "F";
    color_A = 10;
    color_B = 11;
    color_C = 12;
    color_D = 13;
    color_E = 14;
    color_F = 15;
    color_let = "ABCDEF";
    function color_mes(color_num) {
      if (color_let.indexOf(color_num) != -1) {
        return eval("color_" + color_num);
      } else {
        if (color_num < 10) {
          return eval(color_num);
        } else {
          return color_mesk[color_num];
        }
      }
    }
    function color(color_begin, color_einde, color_stappen, color_stap) {
      color_hh1 = (color_mes(color_begin.charAt(0)) * 16) + color_mes(color_begin.charAt(1));
      color_hh2 = (color_mes(color_begin.charAt(2)) * 16) + color_mes(color_begin.charAt(3));
      color_hh3 = (color_mes(color_begin.charAt(4)) * 16) + color_mes(color_begin.charAt(5));
      color_pp1 = (color_mes(color_einde.charAt(0)) * 16) + color_mes(color_einde.charAt(1));
      color_pp2 = (color_mes(color_einde.charAt(2)) * 16) + color_mes(color_einde.charAt(3));
      color_pp3 = (color_mes(color_einde.charAt(4)) * 16) + color_mes(color_einde.charAt(5));
      if (color_hh1 < color_pp1) {
        color_ff1 = color_hh1 + Math.floor((color_pp1 - color_hh1) / color_stappen * color_stap);
        color_ff1 = eval("\'" + color_mes(Math.floor(color_ff1 / 16)) + "\'") + eval("\'" + color_mes(color_ff1 - (Math.floor(color_ff1 / 16) * 16)) + "\'");
      } else {
        color_ff1 = color_hh1 - Math.floor((color_hh1 - color_pp1) / color_stappen * color_stap);
        color_ff1 = eval("\'" + color_mes(Math.floor(color_ff1 / 16)) + "\'") + eval("\'" + color_mes(color_ff1 - (Math.floor(color_ff1 / 16) * 16)) + "\'");
      }
      if (color_hh2 < color_pp2) {
        color_ff2 = color_hh2 + Math.floor((color_pp2 - color_hh2) / color_stappen * color_stap);
        color_ff2 = eval("\'" + color_mes(Math.floor(color_ff2 / 16)) + "\'") + eval("\'" + color_mes(color_ff2 - (Math.floor(color_ff2 / 16) * 16)) + "\'");
      } else {
        color_ff2 = color_hh2 - Math.floor((color_hh2 - color_pp2) / color_stappen * color_stap);
        color_ff2 = eval("\'" + color_mes(Math.floor(color_ff2 / 16)) + "\'") + eval("\'" + color_mes(color_ff2 - (Math.floor(color_ff2 / 16) * 16)) + "\'");
      }
      if (color_hh3 < color_pp3) {
        color_ff3 = color_hh3 + Math.floor((color_pp3 - color_hh3) / color_stappen * color_stap);
        color_ff3 = eval("\'" + color_mes(Math.floor(color_ff3 / 16)) + "\'") + eval("\'" + color_mes(color_ff3 - (Math.floor(color_ff3 / 16) * 16)) + "\'");
      } else {
        color_ff3 = color_hh3 - Math.floor((color_hh3 - color_pp3) / color_stappen * color_stap);
        color_ff3 = eval("\'" + color_mes(Math.floor(color_ff3 / 16)) + "\'") + eval("\'" + color_mes(color_ff3 - (Math.floor(color_ff3 / 16) * 16)) + "\'");
      }
      return color_ff1 + color_ff2 + color_ff3
    }
    bgn = 0;
    bgn2 = 0;
    bgtx = new Array();
    bgtx[0] = "";
    function bgf() {
      for (bgi = 0; bgi != Math.floor(bgmess.length / 2); bgi++) {
        bgtx[bgi] = color(bgttcolor1, bgttcolor2, Math.floor(bgmess.length / 2), bgi);
      }
      for (bgi = Math.floor(bgmess.length / 2); bgi != bgmess.length; bgi++) {
        bgtx[bgi] = color(bgttcolor2, bgttcolor1, Math.floor(bgmess.length / 2), (bgi - Math.floor(bgmess.length / 2)));
      }
      bgttf1();
    }
    function bgttf1() {
      bgtx[bgmess.length + 1] = "";
      bgn2 = bgmess.length - bgn;
      for (bgi = 0; bgi != bgmess.length; bgi++) {
        if (bgi + bgn < bgmess.length) {
          bgtx[bgmess.length + 1] = bgtx[bgmess.length + 1] + "<font color='#" + bgtx[(bgi + bgn)] + "'>" + bgmess.charAt(bgi) + "</font>";
        } else {
          bgtx[bgmess.length + 1] = bgtx[bgmess.length + 1] + "<font color='#" + bgtx[bgi - bgn2] + "'>" + bgmess.charAt(bgi) + "</font>";
        }
      }
      if (bgn != bgmess.length) {
        bgn++;
      } else {
        bgn = 0;
      }
      bgtt.innerHTML = bgtx[bgmess.length + 1];
      setTimeout("bgttf1()", bgsp)
    }
    bgf();
    </script>
    <!-- //Slogan-->
  </div>

  <div id="message">
    <!-- Message -->
    <script type="text/javascript">
    // JavaScript Document
    var tl = new Array(
    "Hi there,",
"I'm BlueSky96, from Da Nang University of Technology",
"The real reason to be a hacker is because it's really powerful. You can do some very cool things when you have strong hacking skills. Any deep knowledge gives you great power. If you know how something works to the point that you can take control of it, you have serious power in your hands. Most of all, you have the power to protect yourself and those you care about."
    );
    var speed = 50;
    var index = 0;
    text_pos = 9;
    var str_length = tl[0].length;
    var contents, row;
    function type_text()
    {
      contents = '';
      row = Math.max(0, index - 26);
      while (row < index)
      contents += tl[row++] + '\r\n';
      document.forms[0].elements[0].value = contents + tl[index].substring(0, text_pos) + "_";
      if (text_pos++ == str_length)
      {
        text_pos = 0;
        index++;
        if (index != tl.length)
        {
          str_length = tl[index].length;
          setTimeout("type_text()", 500);
        }
      } else
      setTimeout("type_text()", speed);
    }
    var yazi = "";
    var hiz = 500;
    var control = 1;
    function flash()
    {
      if (control == 1)
      {
        window.status = yazi;
        control = 0;
      } else
      {
        window.status = "";
        control = 1;
      }
      setTimeout("flash();", hiz);
    }
    //-->
    </script>
    <form><textarea name="textarea" rows="5" cols="80" readonly="readonly">Hi
 there,
I'm BlueSky96, from Da Nang University of Technology
The real reason to be a hacker is because it's really powerful. You can
do some very cool things when you have strong hacking skills. Any deep
knowledge gives you great power. If you know how something works to the
point that you can take control of it, you have serious power in your
hands. Most of all, you have the power to protect yourself and those you
 care about._</textarea></form>
    <!-- //Message -->
  </div>

  <div id="footer">
    Domain: <script>document.write(document.domain);</script>bluesky96.96.lt |
    My IP: 127.0.0.1 |
    We are CoinCard
    <p>Facebook:facecbook.com/blueskyit96.</p>
    <p>Copyright © 2016</p>

    <!-- Background Music -->
  </div>
</div>

</body></html>
